.mainContainer {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  width: 80%;
  border-bottom: 2px solid rgb(235, 239, 242);
}
.head {
  margin: 2% 8%;
}
.container {
  width: 100%;
  height: 87.5%;
}

.GridContent {
  width: 100%;
  display: grid;
  height: 30rem;
  margin: 0 auto;

  width: auto;
  grid-template-columns: repeat(2, 1fr);
  
}

.RightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.275);
  border-radius: 1rem;

  margin: 0 auto;
  width: 30rem;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.25);
}

.Infosclient {
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.25);

  border-radius: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.275);

  display: block;
  margin: 0 auto;

  width: 30rem;
  /* background-color: rgb(0, 0, 0); */
}
.Infosclient > h2 {
  margin-left: 1rem;
}
.Infosclient > ul {
  line-height: 3;
  list-style: none;
}

.ButtonContainer {
  padding: 0.5rem;
  width: 53rem;
  display: grid;
  margin: 0 auto 1rem;
  gap: 23rem;
  grid-template-columns: repeat(2, 1fr);
}
.ButtonContainer > button {
  cursor: pointer;
  padding: 13.5px 10px;
  gap: 10px;
  width: 14rem;
  height: 3.25rem;
  background: #635cff;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 500ms;
}
.ButtonContainer > button:hover {
  color: #635cff;
  background: white;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid #635cff;
}

.buttonAddDoc:hover {
  border: 0.1rem solid #635cff;

  color: #635cff;
  background: white;
  transition: all 0.3s;
}
.buttonAddDoc {
  cursor: pointer;

  padding: 13.5px 10px;
  gap: 10px;
  width: 14rem;
  height: 10%;
  background: #635cff;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 500ms;
  
}
