.mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: #F3F3F3;
}

.header {
  display: flex;
  width: 80%;
  border-bottom: 2px solid rgb(235, 239, 242);
}
.head {
  margin: 2% 8%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 92%;
  margin-left: 300px;
  background-color: #FFFFFF;
}

.GridContent {
  /* border: 5px blue solid; */
  width: 100%;
  display: flex;
  margin:20px

}

.GridParent {
  /* border: 5px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.RightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30rem;
}

.Infosclient {
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
  width: 30rem;
  background-color: #3A3E9C;
  color: #FFFFFF;
  padding: 20px;
}
.Infosclient > h2 {
  margin-left: 1rem;
}
.Infosclient > ul {
  line-height: 2;
  list-style: none;
  color: white;
  font-weight: lighter;
}

.ButtonContainer {
  padding: 0.5rem;
  width: 65rem;
  height: 15rem;
  display: flex;
  margin: 0 auto 1rem;
  gap: 23rem;
  grid-template-columns: repeat(2, 1fr);

}
.Infosclient > button {
  cursor: pointer;
  width: 20%;
  height: 3.25rem;
  background: #3A3E9C;
  border: solid 1px white;
  color: white;
  font-size: 16px;
  font-weight:normal;
  transition: 500ms;
  margin: 10px;
}
.Infosclient > button:hover {
  color: #635cff;
  background: white;
  transition: all 0.3s ease-in-out;
  border: 0.1rem solid #635cff;
}

.buttonModal{
  background-color: #FFFFFF;
  border: solid 1px #326E9C;
  color: #326E9C;
  width: 30%;
  height: 10%;
}

.buttonModal:hover {
  border: 0.1rem solid #326E9C;
  color: #326E9C;
  background: white;
  transition: all 0.3s;
  cursor: pointer;
}

.buttonModif{

  cursor: pointer;
  padding: 13.5px 10px;
  gap: 10px;
  background: #635cff;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 500ms;
  width: 20%;
  height: 10%;
}
.docsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  justify-content: center;
  margin: 20px;
  align-items: center;
  color: #326E9C;
  width: 50%;

}

