.mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: #F3F3F3;
}

.header {
  display: flex;
  width: 80%;
  border-bottom: 2px solid rgb(235, 239, 242);
}
.head {
  margin: 2% 8%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.5%;
  height: 83%;
  margin-left: 300px;
  background-color: #FFFFFF;
}

.GridContent {
  /* border: 5px blue solid; */
  width: 100%;
  display: flex;
  margin:20px

}

.GridParent {
  /* border: 5px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.RightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30rem;
}

.Infosclient {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30rem;
  background-color: #3A3E9C;
  color: #FFFFFF;
  padding: 20px;
  justify-content: center;
  align-items: left;
}
.Infosclient > h2 {
  margin-left: 1rem;
}
.Infosclient > ul {
  line-height: 2;
  list-style: none;
  color: white;
  font-weight: lighter;
}

.buttoncontainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.buttoncontainer > button {
  padding: 1.3% 3%;
  gap: 10px;
  width: 100px;
  background: #2A9C90;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  height:50px;
  font-size: 16px;
}

.buttoncontainer > button:hover,
.buttoncontainer > button:focus {
  background-color: #2980b9;
  color: white;
}

.button:active {
  background-color: #3498db;
}
.buttonModal {
  padding: 13.5px 10px;
  gap: 10px;
  width: 20%;
  background: #3A3E9C;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 500ms;
}

.buttonModal:hover, .buttonModal:focus, .buttonModal:active {
  background-color: #2980b9;
  cursor: pointer;
}


.docsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgba(120, 118, 118, 0.568);
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  color: #326E9C;
  width: 50%;
  border-radius: 10px;
  height: auto;
}

.modalUpdateClient {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonModif {
    padding: 13.5px 10px;
    gap: 10px;
    width: 100%;
    background: #3A3E9C;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: 500ms;
}

.buttonModif:hover, .buttonModif:focus, .buttonModif:active {
    background-color: #2980b9;
    cursor: pointer;
}
