.header {
  display: flex;
  width: 80%;
  border-bottom: 2px solid rgb(235, 239, 242);
}
.head {
  margin: 2% 8%;
}

.mainContent {
  height: 100vh;
  width: 100vw;
}
.container {
  height: 89%;
  width: 81.5%;
  display: flex;
  justify-content: space-around;
}

.SousContainerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid #635cff;
}

.SousContainerRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interlocuteur {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(235, 239, 242);
  width: 80%;
  margin: 20px;
}
.infoInterlocuteur {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(235, 239, 242);
  width: 80%;
  margin: 3%;
  padding: 5%;
  background: #faf9f9;
  border: 1px solid #dddddf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.contrat {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(235, 239, 242);
  width: 80%;
  margin: 20px;
}
.infoContrat {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(235, 239, 242);
  width: 80%;
  margin: 3%;
  padding: 5%;
  background: #faf9f9;
  border: 1px solid #dddddf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.buttonContainer {
  display: flex;
  width: 50%;
  margin-top: 10%;
  justify-content: space-around;
}

.docsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(235, 239, 242);
  width: 80%;
  height: 60%;
  margin-top: 5%;
}

.addDoc {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-top: 5%;
}

.button {
  padding: 13.5px 10px;
  gap: 10px;
  width: 70%;
  height: 10%;
  background: #635cff;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 500ms;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(110, 231, 255);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}

.texte {
  padding: 1%;
}
