.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    margin-left: 260px;
    background-color: #fff;
    margin-bottom: 2%;
}

.text {
    margin: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    font-weight: 600;
    color: #2A9C90;
}