.container{
    float: left;
    height: 100vh;
    width: 18.5%;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.firstNavbar{
    height: 50vh;
    width: 100%;
}
.logo{
    height: auto;
    width: 30%;
    margin-bottom: 10%;

}
.accountBox{
    height: 16%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.accountBox:hover{
    height: 16%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: aqua;
    cursor: pointer;
}
.avatar{
    height: 50%;
    width: auto;
    padding: 3%;
    border-radius: 27px;
    margin: 5%;
    border: 1px solid black;
}
.infoUser{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 80%;
    margin-bottom: 2%;
}
.emailSize{
    font-size: 70%;
    padding: 1%;
    color: rgb(149,164,186);
}
.navigationPage{
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.BoxSpan{
    margin: 8% 7%;
}
.BoxSpan:hover{
    margin: 8% 7%;
    background-color: aqua;
    cursor: pointer;
    font-size: 130%;
}
.boxSpan:hover{
    font-size: 90%;
    margin-top: 3%;
    background-color: aqua;
    cursor: pointer;
}
.spaceIconSpan{
    margin: 0% 10%;
    color: rgb(196,208,225);
}
.spaceIconLogout{
    margin: 0% 9%;
}
.textStyle{
    color: rgb(51,78,110);
    text-shadow: 2px 2px 4px #c5c5c5;
}
.secondNav{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid rgb(235,239,242);
}
.footerNav{
    display: flex;
    flex-direction: column;
    padding: 7% 0%;
    justify-content: space-between;
}
.boxSpan{
    font-size: 90%;
    margin-top: 3%;
}
.header{
    width: 100vw;
    height: 10vh;
}
.title{
    margin: 1% 10%;
    align-items: center;
    font-size: 2em;
}