.container{
    float: left;
    height: 100vh;
    width: 18.5%;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.firstNavbar{
    height: 50vh;
    width: 100%;
}
.logo{
    height: auto;
    width: 30%;
    margin-bottom: 10%;

}
.accountBox{
    height: 16%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5%;
    border-bottom: 1px solid rgba(86, 86, 90, 0.24);
    
}
.accountBox:hover{
    height: 16%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.avatar{
    height: 60%;
    width: auto;
    padding: 3%;
    border-radius: 27px;
    margin: 5%;
    color: #645cffcc;
}
.infoUser{
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 80%;
    margin-bottom: 2%;
}
.emailSize{
    font-size: 16px;
    padding: 1%;
    color: #645cffcc;
}
.navigationPage{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.BoxSpan{
    padding: 8% 0%;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    border-radius: 10px;
    margin: 1% 2%;
}
.BoxSpan:hover{
    cursor: pointer;
    background-color: rgb(110, 231, 255);
    color: #635CFF;
}
.boxSpan{
    margin-top: 3%;
    cursor: pointer;
    padding-right:10%;
    cursor: pointer;
    font-size: 90%;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.boxSpan:hover{
    background-color: #add8e6;
    color: white;
    cursor: pointer;
}
.spaceIconSpan{
    margin: 0% 10%;
    color: rgba(0, 42, 255, 0.851);
}
.spaceIconLogout{
    margin: 0% 9%;
    color: rgba(0, 42, 255, 0.851);
}
.textStyle{
    font-size: 18px;
    font-weight: 400;
    color: rgba(4, 0, 255, 0.802);
}
.secondNav{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid rgb(235,239,242);
}
.footerNav{
    display: flex;
    flex-direction: column;
    margin-top: 45%;
    padding: 7% 0%;
    justify-content: space-between;
}
.boxSpan{
    font-size: 90%;
    margin-top: 3%;
}
.header{
    width: 100vw;
    height: 10vh;
}
.title{
    margin: 1% 10%;
    align-items: center;
    font-size: 2em;
}