.header{
  display: flex;
  width: 80%;
  border-bottom: 2px solid rgb(235,239,242);
}
.head{
  margin: 2% 8%;
}
.maincontainer {
  
  height: 100vh;
  width: 100vw;
  background-color: #F3F3F3;
  position: fixed;
  
}

.container {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  width: 81.5%;
  height: 85%;
  justify-content: space-around;
  align-items: center;

}

.form {
  display: flex;
  margin: 5px;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

.form input {
  background: #FFFFFF;
  border: 1px solid #326E9C;
  border-radius: 6px;
  padding: 2%;
  outline: none;
  width: 90%;
  height: 5%;
}

.newClientContainer {
  
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #326E9C;
  margin-top: 1%;
}
.newInterlocutorContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  justify-content: center;
  margin: 20px;
  align-items: center;
  color: #326E9C;
}

.newInterlocutorContainer input {
  margin: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  justify-content: space-around;
  height: 300px;

}

.input {
  background: #FFFFFF;
  border: 1px solid #326E9C;
  border-radius: 6px;
  padding: 2%;
  outline: none;
  width: 90%;
  height: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button {
  padding: 1.3% 3%;
  gap: 10px;
  width: auto;
  background: #3A3E9C;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.button:hover,
.button:focus {
  background-color: #2980b9;
}

.button:active {
  background-color: #3498db;
}

.interlocutorItemListContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  width: 80vh;
  gap: 5%;
  flex-wrap: wrap;
  
}


.textLink {
  cursor: pointer;
  color: #0073e6;
  text-decoration: underline;
}

.interlocutorDeleter {
  color: red;
}

.interlocutorDeleter:hover {
  cursor: pointer;
  font-size: large;
}

.numberOfEmployeesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  margin: 10px 0;
}

.numberOfEmployeesContainer label {
  font-size: 14px;
  margin-right: 5px;
}
.numberOfEmployeesContainer input {
  width: 100px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100%;
}

.modalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
}

.interlocuteurslist {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.interlocuteursul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.interlocuteursli {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.interlocuteursli:last-child {
  border-bottom: none;
}

.interlocuteursli span {
  font-weight: bold;
  margin-right: 10px;
}


.interlocuteursli {

  background-color: #E6E6FA; 

}

.interlocuteursli:hover {
  background-color: #f5f5f5;
}

.interlocuteursli span {
  font-size: 1.2em;
}
.modalInterlocutorContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.modalInterlocutorContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modalInterlocutorContainer li {
  display: flex;
  align-items: center;
}

.modalInterlocutorContainer li + li {
  margin-top: 5px;
}

.modalInterlocutorContainer .interlocutorDeleter {
  cursor: pointer;
  color: #999;
  transition: all 0.3s;
  margin-left: 10px;
}

.modalInterlocutorContainer .interlocutorDeleter:hover {
  color: #333;
}

.alert{
  color: red;
  font-size: 14px;
}


.label {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Remplacer la police de caractères par une police plus futuriste */
  margin-bottom: 8px;
}

.containerBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 81.4vw;
  margin-bottom: 20px;
  background: white;
}