.mainContainer {
    height: 100vh;
    width: 100vw;
    background-color: #F3F3F3;
}

.header{
    display: flex;
    width: 80%;
    border-bottom: 2px solid rgb(235,239,242);
}
.head{
    margin: 2% 8%;
}
.container{
    display: flex;
    width: 77.5%;
    height: 84%;
    margin-left: 300px;
    background-color: #FFFFFF;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    margin: 1%;
    width: 30%;
}

.buttonsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 90%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 66%; 
    margin: 1%;
    border-left: 1px solid rgba(128, 128, 128, 0.342);
}
.graphic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 90%;
    margin-top: 2%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}

.buttonBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8%;
    width: 90%;
    margin-top: 2%;
}

.input {
    background: #FFFFFF;
    border: 1px solid #326E9C;
    border-radius: 6px;
    padding: 2%;
    outline: none;
    width: 90%;
    height: 5%;
}


.input::placeholder{
color: grey
}
.button {
    padding: 13.5px 10px;
    gap: 10px;
    width: 20%;
    background: #3A3E9C;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: 500ms;
}

.button:hover, .button:focus, .button:active {
    background-color: #2980b9;
    cursor: pointer;
}

.bottomBtn {
    width: 40%;
}

.img {
    height: 95%;
}

.para {
    margin: 0;

    font-size: 14px;
    color: #3A3E9C;
    font-weight: bold;
}


.modalSave {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scenarioBtnModal {
    width: 60%;
    margin-bottom: 3%;
}

.divSaveBtnModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputModalInterlocuteur {
    margin-left: 29%;
    width: auto;
    margin-bottom: 5%;
}

.nomClient {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}

.interlocModal {
    margin: 0;
    margin-bottom: 3%;
};

.InputNewInterlocutorContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
  }
  
  .inputNewInterlocuteur {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
  }

.btnInterModal {
    width: 100%;
    margin-top: 5%;
}

.inputInterloc {
    margin: 2%;
    width: 90%;
}

.textInterModal {
    margin: 3%;
    font-size: 18px;
    text-decoration: underline;
    font-weight: 600;
}
