.card{
    padding-left: 20px;
    padding-top: 10px;
    margin: 2% 2%;
    height: auto;
    width: 20%;
    background-color: #3A3E9C;
    display: flex;
  
    flex-direction: column;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    border-radius: 10px;
}
.card:hover{
    padding-top: 2%;
    margin: 2% 2%;
    height: auto;
    width: 22%;
    box-shadow: rgb(51, 78, 109) 0px 3px 8px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    cursor: pointer;
}
.userIcon{
    height: auto;
    padding-bottom: 5%;
    width: 24%;
    color: rgb(51,78,110);
    text-shadow: 2px 2px 4px #000000;
}
.infoContrat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: auto;
    align-items:left;
}